/* MAIN CONTAINER */
.ss-main-cont {
  display: flex;
  margin-top: 40px;
  display: flex;
}
/******/
/*SING SONG */
.song-img-play-poser-cont {
  align-self: center;

  /* width: 80%; */
  padding: 10px;
}

.ss-info-con {
  padding: 20px;
  border: 1px solid black;
}

.single-song-img {
  height: 250px;
  width: 500px;
}
/******/

/* INFO CONT */
.info-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#heart-cont {
  display: flex;
  gap: 10px;
}

#heart-cont i {
  color: #fc9fe8;
}
