/* MAIN CONTAINER */
.ss-main-cont {
  display: flex;
  margin-top: 40px;
  display: flex;
  min-height: 90vh
}
/******/
/*SING SONG */
.song-img-play-poser-cont {
  align-self: center;

  /* width: 80%; */
  padding: 10px;
}

.ss-info-con {
  padding: 20px;
  border: 1px solid black;
}

.single-song-img {
  height: 250px;
  width: 500px;
}
/******/

/* INFO CONT */
.info-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#heart-cont {
  display: flex;
  gap: 10px;
}

#add-comment-link{
  margin-top:50px;
  margin-left:20px;

}
.ss-liked-cont{
  /* justify-content: space-between; */
  align-items: center;
  gap:30px
}

/* PLAY BUTTON */
.play-icon-cont {
  width: 50px;
  height: 50px;
  background-color:rgba(252,159,232, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-icon-cont i{
  color: white;
  font-size: 24px;
  z-index:2;
}

.pencil-delete{
  display: flex;
  align-items: center;
  gap:10px;
  color: rgb(34, 34, 34, 0.6);
}
