/* @import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap'); */
#tabs-main-cont-first{
    margin-top: 80px;
}

.react-tabs__tab-list{

    margin-left:20px;
    border-bottom:.2px,solid #f2f2f2;
    margin-top: 20px;

}


.react-tabs__tab{
    border:none;
    padding:20px;
    font-size:20px;
    font-family: Inter,sans-serif;
    color: white;
    /* border-bottom: 1px solid grey */

}
.react-tabs__tab--selected{
    border-bottom: 2px solid rgb(201,22,150);
    color:rgb(201,22,150);
    z-index:1;
    background-color:hsl(0,0%,11%);
}
#tabs-main-cont-first{
    min-height: 90vh
}
