/* COMMENT TEXT */
.single-comment-cont-h {
  background-color: rgb(252, 159, 232, .8);
  padding:10px;
}
.single-comment-cont-h p{
  color:white;
}
.single-comment-cont p{
  color:white;
}
.single-comment-cont{
    width:40%;
}

/* COMMENT MAIN CONT */
.comments-main-cont{
  margin-left: 25px;
  margin-top: 30px;
}
