/* LIKED SONGS MAIN CONT */
.liked-songs-main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: sans-serif;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
  /* min-height: 100vh */
}
/* IMAGE DIV this holds the entire image*/
.liked-img-cont {
  height: 170px;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 170px;
  border-radius: 5px;
}
.liked-img-cont:hover {
  transform: scale(1.1);
}

/* PLAY ICON*/
.play-cont-liked {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;

  /* z-index: 2; */
}
.liked-img-cont:hover .play-cont-liked {
  visibility: visible;
}

/* HEART ICON */
.filled-heart {
  color: rgb(247, 15, 235, 0.7);
}
.filled-heart:hover {
  transform: scale(1.1);
  color: rgb(77, 80, 77, 0.7);
}

.empty-heart {
  background-color: gray;
}
.liked-song-info-cont {
  gap: 5px;
}
.liked-song-info-cont span {
  font-size: small;
}
.liked-song-info-cont span {
  color: white;
}
.heart-title-cont {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
