/* MAIN CONTAINER */
.ss-main-cont{
    display: flex;
}
/******/
/*SING SONG */
.song-img-play-poser-cont{
    align-self: center;
    height: 250px;
    width:500px;
    padding:60px;
    border: 1px solid black;
}

.single-song-img{
    height: 250px;
    width:500px;
}
/******/
