.greeting-main-cont{
        display: flex;
        align-content: center;
        width: 400px;
        /* gap: px; */
        color: white;

}
/* .greeting-nav-main-cont{
    height:400px;
} */

.click{
    cursor:pointer
}

/* GREETING PAGE IMG*/
.gp-img{
    height: 25px;
    width: 25px;;
}

/* buttons */
.home{
    flex:1;
    border-right: black;
}

.add-song-bttn{
    flex:1
}

.gp-user-song-cont{
    flex:1
}

.buttn-inner-div{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap:10px;
    margin-top:10px;
}
