/* .greeting-main-cont{
    height: 100%;
    width: 200px;
    justify-self: start;

} */
/* .greeting-nav-main-cont{
    height:400px;
} */

.click{
    cursor:pointer
}

/* GREETING PAGE IMG*/
.gp-img{
    height: 25px;
    width: 25px;;
}
