.error-cont {
  max-height: 40px;
}

/* MAIN CONT */
.create-song-main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 50px;
  min-height: 90vh;
}

/* FORM CONTAINER*/
.create-song-form-cont {
  border: 1px solid black;
  margin-top: 100px;
  height: 500px;
  width: 500px;
  padding: 20px;
  box-shadow: 2px 2px 10px 8px rgb(158, 158, 157, 0.5);
  background: linear-gradient(to bottom, hsl(0, 0%, 22%, 0.5), hsl(0, 0%, 11%));
}

.form-main-cont {
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/******/
/*RIGHT SIDE */
.csf-right-cont {
  gap: 30px;
  align-content: center;
}
.csf-right-cont label {
  align-self: center;
  padding: 10px;
  color: white;
}
.csf-title-cont {
  display: flex;
  justify-content: center;
  padding: 20px;
}
/* LEFT SIDE */
.csf-left-cont {
  align-content: center;
  gap: 50px;
}
.csf-left-cont label {
  align-self: center;
  padding: 20px;
  color: white;
}
.csf-left-cont input {
  color: white;
}
/* .box{
    display: flex;
    justify-content: center;
    border:1px solid black;
    height:100px;
    width:200px
} */

/* FILES */
.csf-left-cont input {
  padding: 5px;
}

/* HEADING */
.cs-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

/* .submit-error-cont > button{
    color:black;
    margin-left:200px;
    padding: 10px;
    border-radius: 5px;
    width:100px

} */
.submit-error-cont > button {
  margin-left: 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: gray;
  background-color: white;
}
.submit-error-cont > button:hover {
  color: rgba(252, 159, 232, 1);
}
/* LOADING CONTAINER */
#loading-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#loading-cont-cs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.is-loading {
  display: flex;
  justify-content: center;
  color: #c91696;
}
#spin-gif {
  height: 50px;
  width: 50px;
}

.error-cont {
  margin-top: 10px;
  color: #c91696;
}
/* IMAGE AND AUDIO NAME */
.img-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.audio-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.csf-img-cont {
  position: relative;
}
.csf-audio-cont {
  position: relative;
}

.input-names {
  position: absolute;
  right: 20px;
  background-color: white;
  font-size: 14px;
}
.input-names-audio {
  position: absolute;
  right: 8px;
  background-color: white;
  font-size: 14px;
}

/*** REFACTORED CODE ***/
/* .create-song-form-cont {
  font-family: sans-serif;
  border: 1px solid black;
  margin-top: 100px;
  height: 600px;
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.form-main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  gap: 20px;
}
*/
/* IMAGE INPUT */
/*.csrf-img-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
} */
