#log-in-form {
  display: flex;
  flex-direction: column;
}

#log-in-modal h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  color: #333;
}

.label {
  margin-bottom: 10px;
  color: #555;
}

.label span {
  font-weight: bold;
  display: block;
}

#log-in-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.err-cont {
  color: #f00;
  margin-bottom: 10px;
}
.err-cont p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

#log-in-submit {
  background-color: #fc9fe8;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#log-in-submit:hover {
  background-color: #c91696;
}

.demo-link {
  text-align: center;
  color: #c91696;
  /* margin-top: 3px; */
}
