
/* NAV MAIN CONT*/
.nav-main-cont{
  /* position: relative; */
  background-color: rgb(51,51,51);
  width:100%;
  display:flex;
  justify-content: space-between;
  align-content: center;
  font-size: small;
  padding:10px;
}




/* PROFILE BTTN and LOGO */
.nav-profile-button-main-cont{
  display: flex;
  align-items: center;
  gap:30px;
  margin-right:80px;
  width:200px;
  justify-content: space-between;
}



/* */
.logo-img{
  height:70px;
  width:100px;
  margin-top: 10px;

}



.profile-dropdown {
  position: absolute;
  background-color: white;

}

/* NAV BUTTONS */
/* .nav-greet-main-cont{

} */

/* AUDIO PLAYER */
.audio-player-cont{
    position: fixed;
    bottom: 0;
    left: 400px;
    width: 50%;
    background-color:none;
    padding: 10px;
}

/* AUDIO */
/* .hidden{
  visibility: hidden;
} */
